In [1]:
import pandas as pd

In [3]:
census = pd.read_csv("./census_data.csv")
census.head(10)

,index,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status
0,0,Denise,Ratke,2005,False,0,92129.41,disagree,single
1,1,Hali,Cummerata,1987,False,0,75649.17,neutral,divorced
2,2,Salomon,Orn,1992,True,2,166313.45,agree,single
3,3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,married
4,4,Gust,Abernathy,1945,False,2,143316.08,agree,married
5,5,Lady,Hills,1951,True,0,160391.20,disagree,widowed
6,6,Tremaine,Pacocha,1963,False,1,49801.77,strongly disagree,divorced
7,7,Jaime,Towne,1949,False,2,140803.16,agree,single
8,8,Tex,Lynch,1950,False,1,122486.71,agree,single
9,9,Nathanial,Gislason,1971,True,4,157088.26,strongly agree,married

In [4]:
census.dtypes

index               int64
first_name         object
last_name          object
birth_year         object
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [6]:
census.birth_year = census.birth_year.apply(lambda x: -1 if x == "missing" else x)

In [7]:
census.birth_year = census.birth_year.astype("int")

In [8]:
census.dtypes

index               int64
first_name         object
last_name          object
birth_year          int32
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [9]:
census.higher_tax.unique()

array(['disagree', 'neutral', 'agree', 'strongly agree',
       'strongly disagree'], dtype=object)

In [10]:
census.higher_tax = pd.Categorical(census.higher_tax, ["strongly disagree", "disagree", "neutral", "agree", "strongly agree"], ordered=True)

In [11]:
census.higher_tax.unique()

['disagree', 'neutral', 'agree', 'strongly agree', 'strongly disagree']
Categories (5, object): ['strongly disagree' < 'disagree' < 'neutral' < 'agree' < 'strongly agree']

In [12]:
census.dtypes

index                int64
first_name          object
last_name           object
birth_year           int32
voted                 bool
num_children         int64
income_year        float64
higher_tax        category
marital_status      object
dtype: object

In [16]:
pd.get_dummies(data=census, columns=["marital_status"])

,index,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status_divorced,marital_status_married,marital_status_single,marital_status_widowed
0,0,Denise,Ratke,2005,False,0,92129.41,disagree,0,0,1,0
1,1,Hali,Cummerata,1987,False,0,75649.17,neutral,1,0,0,0
2,2,Salomon,Orn,1992,True,2,166313.45,agree,0,0,1,0
3,3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,0,1,0,0
4,4,Gust,Abernathy,1945,False,2,143316.08,agree,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Carisa,Hills,1958,False,3,157117.14,agree,0,1,0,0
96,96,Tameka,Collins,2001,False,1,61518.34,strongly disagree,0,0,1,0
97,97,Adams,Leuschke,1987,False,0,41784.87,strongly agree,0,0,1,0
98,98,Earnestine,Gutmann,1985,True,4,79021.46,disagree,0,0,0,1
99,99,Rosa,Runolfsson,1961,True,3,82300.02,strongly agree,0,0,1,0